<mat-list-item class="perms-row" *ngIf="!isEditing">
    <div class="id">
        {{perm.permission.id}}
    </div>
    <div class="name">
        {{perm.permission.name}}
    </div>
    <div class="type">
        {{perm.permission.type}}
    </div>
    <div class="actions">
        <button mat-button (click)="edit()"><mat-icon>edit</mat-icon></button>
    </div>
</mat-list-item>

<mat-list-item class="perms-row" *ngIf="isEditing">
    <div class="id">
        {{perm.permission.id}}
    </div>
    <div class="name">
        <form [formGroup]="permForm">
            <mat-form-field>
                <input matInput formControlName="name">
            </mat-form-field>
        </form>
    </div>
    <div class="type">
        {{perm.permission.type}}
    </div>
    <div class="actions">
        <button mat-button (click)="save()"><mat-icon>save</mat-icon></button>
        <button mat-button (click)="cancel()"><mat-icon>close</mat-icon></button>
    </div>
</mat-list-item>
