.processes-row-header {
    .id {
        flex: 1;
    }

    .starts, .runningTime {
        width: 100px;
    }

    .actions {
        width: 64px;
    }

    .state {
        width: 125px;
    }

}