/my.log
/redis.conf
/config.php
/logs/
/firmwares/
/cache/
/node_modules/
/nbproject/
/vendor/
/client/dist/
/client/node_modules/
/client/nbproject/
/client/proxy.conf.json
/apache2
/backup/
