@import "../../../../../mixins.less";

.process-row {
    height: 75px;
    cursor: default;

    .id  {
        .elipsis-left();
        flex: 1;
        padding-right: 20px;
    }

    .starts {
        text-align: center;
    }

    .starts, .runningTime {
        width: 100px;
    }

    .actions {
        width: 64px;
    }

    .state {
        width: 125px;
    }

    mat-icon {
        cursor: pointer;
    }
}