<div class="control">
    <mat-checkbox
        [disabled]="!isEditing"
        [checked]="data.active"
        (change)="changeActive($event)"
        >
        {{ControlName[control.control.type]}}
    </mat-checkbox>
    <div>
        <div *ngFor="let item of data.mqtt;">
            <div *ngIf="!isEditing" class="mqtt-item">
                <div class="topic">{{item.topic}}</div>
                <div class="type">{{ControlName[item.type]}}</div>
                <div class="value">{{item.value}}</div>
            </div>
            <div *ngIf="isEditing" class="mqtt-item">
                <div class="fields">
                    <mat-form-field class="topic" appearance="fill">
                        <mat-label>Topic</mat-label>
                        <input matInput [value]="item.topic" (change)="changeMqtt(item, 'topic', $event.target.value)">
                    </mat-form-field>
                    <mat-form-field class="type" appearance="fill">
                        <mat-label>Type</mat-label>
                        <mat-select [value]="item.type" (selectionChange)="changeMqtt(item, 'type', $event.value)">
                            <mat-option *ngFor="let type of MqttControlTypes" [value]="type">
                                {{ControlName[type]}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="value" appearance="fill">
                        <mat-label>Value</mat-label>
                        <input matInput [value]="item.value" (change)="changeMqtt(item, 'value', $event.target.value)">
                    </mat-form-field>
                </div>
                <button mat-button (click)="removeMqtt(item)"><mat-icon>delete</mat-icon></button>
            </div>
        </div>
        <button *ngIf="isEditing" mat-button (click)="addMqtt()"><mat-icon>add</mat-icon></button>
    </div>
</div>